.lead__image {
  object-fit: cover;
  box-sizing: border-box;
  width: 984px;

  margin: 0;
  margin-top: 64px;
}

@media screen and (max-width: 1100px) {
  .lead__image {
    width: 928px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 950px) {
  .lead__image {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .lead__image {
    margin-top: 40px;
  }
}
