.intro{
    max-width: 690px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 92px 0 0;
}

  @media screen and (max-width: 768px) {
    .intro {
      max-width: 720px;
      padding: 88px 0 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .intro {
      max-width: 290px;
      padding: 64px 0 0;
    }
  }

  