.footer{
    display: flex;
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 24px;
    justify-content: space-between;
    max-width: 1184px;
}


@media screen and (max-width: 1280px) {
    .footer {
        max-width: 928px;
    }
  }
  
@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
        margin-top: 88px;
    }
  }

  @media screen and (max-width: 767px) {
    .footer {
        margin-top: 64px;
        flex-direction: column;
        max-width: calc(320px - (16px * 2));
    }
  }